@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);
body {
  font-family: "Catamaran";
  overflow-x: hidden;
    max-width: 100%;
  margin: 0 auto;
    font-size: calc(1rem + 0.25vh);
}